<configuration>
  <system.webServer>
    <handlers>
      <add name="iisNode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="API">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="server.js" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
